Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
CompactNamespaces: true
ContinuationIndentWidth: 4
SpacesBeforeTrailingComments: 2
MaxEmptyLinesToKeep: 1
Standard: Latest
TabWidth: 4
UseTab: Never
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: true
PointerAlignment: Left
SortIncludes: CaseSensitive
BreakBeforeBraces: Stroustrup